<!DOCTYPE html>
<html>

<body bgcolor=#1DB954>

    <center>


        <iframe src="https://giphy.com/embed/ghuvaCOI6GOoTX0RmH" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <h1 style="font-family:sans-serif; color: #191414;">정확히 입력해보세요.</h1><br><br>
        <h3 style="font-family:sans-serif; color: #191414;">곡 제목을 정확히 입력해보는 게 어떨까요?</h3>
        <h3 style="font-family:sans-serif; color: #191414;">* 혹은, 이 프로젝트는 개발 모드이기 때문에 온보딩 사용자가 제한되어 있습니다.</h3>
        <h3 style="font-family:sans-serif; color: #191414;"> 잠시 후 다시 시도해보는 것을 추천해드립니다.</h3>
        <a href='/' style="font-family:sans-serif; color: #191414;">돌아가기</a>

    </center>

</body>

</html>
